.lift-graph * {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.lift-graph-container {
  padding-right: 5em;
  padding-left: 5em;
  font-family: sans-serif;
}
.lift-graph-graph {
  float: left;
  width: 100%;
  height: 20em;
}
.lift-graph-axis-x {
  clear: both;
  width: 100%;
}
.lift-graph-axis-y {
  float: left;
  width: 5em;
  height: 20em;
  margin-left: -5em;
}
.lift-graph-legend {
  clear: both;
  background-color: transparent;
  color: #333;
}
.lift-graph-legend li {
  display: inline-block;
}
.lift-graph-legend .line .swatch {
  border-radius: 50%;
}
.lift-graph-details {
  border-collapse: collapse;
}
.lift-graph-details th,
.lift-graph-details td {
  padding: .5em;
}
.lift-graph-details [style^="background-color"] {
  color: #fff;
  font-weight: normal;
}
.lift-graph-details .label {
  font-weight: bold;
  text-align: right;
}
.lift-graph-details .active {
  background-color: #eee;
}

.rickshaw_graph .tick {
  font-family: sans-serif;
}
.rickshaw_graph .detail {
  width: .2em;
  margin-left: -.1em;
  background: rgba(221, 221, 221, 0.5);
}
.rickshaw_graph .detail .item {
  margin: 1.4em -1em;
  padding: .1em;
  line-height: 1.3em;
  box-shadow: 0 0.1em 0.2em rgba(51, 51, 51, 0.6);
}
.rickshaw_graph .detail .item.active {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  border: .1em solid #ddd;
  border-radius: .3em;
}
.rickshaw_graph .detail .item .swatch {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .3em;
  border-radius: 50%;
}
.rickshaw_graph .detail .item:before, .rickshaw_graph .detail .item:after {
  display: block;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  top: auto;
  right: 50%;
}
.rickshaw_graph .detail .item:before {
  bottom: -1.2em;
  border: .6em solid transparent;
  border-top-color: #ddd;
  margin-right: -1.6em;
}
.rickshaw_graph .detail .item:after {
  border-width: .5em;
  border-top-color: #fff;
  border-left-color: transparent;
  bottom: -1em;
  margin-right: -1.5em;
}
.rickshaw_graph .detail .item.left:before, .rickshaw_graph .detail .item.left:after {
  top: auto;
  right: auto;
  margin: 0;
}
.rickshaw_graph .detail .item.left:before {
  left: .4em;
}
.rickshaw_graph .detail .item.left:after {
  left: .5em;
  border-width: .5em;
  border-top-color: #fff;
  border-right-color: transparent;
}
.rickshaw_graph .detail .item.right:before, .rickshaw_graph .detail .item.right:after {
  top: auto;
  margin: 0;
}
.rickshaw_graph .detail .item.right:before {
  right: .4em;
}
.rickshaw_graph .detail .item.right:after {
  right: .5em;
  border-width: .5em;
  border-top-color: #fff;
  border-left-color: transparent;
}
.rickshaw_graph .detail .item.top:before, .rickshaw_graph .detail .item.top:after {
  bottom: auto;
  border-top-color: transparent;
}
.rickshaw_graph .detail .item.top:before {
  top: -1.2em;
  border-bottom-color: #ddd;
}
.rickshaw_graph .detail .item.top:after {
  top: -1em;
  border-bottom-color: #fff;
}
.rickshaw_graph .detail .dot {
  width: .5em;
  height: .5em;
  margin-top: -.35em;
  margin-left: -.35em;
  line-height: .5em;
  border-width: .2em;
  border-radius: 50%;
  box-shadow: none;
}
